<div class="timer-container">
    <div class="info-section">
        <div class="start-count">
            Started {{ timerState.startCount }} times
        </div>

        <div class="timer-display">
            {{ formatTime(timerState.currentTime) }}
        </div>
    </div>
    <div class="action-button" [class.running]="timerState.isRunning">
        <ion-button
            (click)="timerState.isRunning ? stopTimer() : startTimer()"
            fill="clear"
            class="round-button">
            <ion-icon
                [name]="timerState.isRunning ? 'stop' : 'play'"
                class="action-icon">
            </ion-icon>
        </ion-button>
    </div>
</div>
