<div class="timer-container">
    <div class="info-section">
        <div class="start-count">
            Started {{ timerState.startCount }} times
        </div>

        <div class="timer-display">
            {{ formatTime(timerState.currentTime) }}
        </div>
    </div>
    <div class="action-button" [class.running]="timerState.isRunning">
        <ion-button
            (click)="timerState.isRunning ? stopTimer() : startTimer()"
            fill="clear"
            class="round-button">
            <ion-icon
                [name]="timerState.isRunning ? 'stop' : 'play'"
                class="action-icon">
            </ion-icon>
        </ion-button>
    </div>
</div>

<div style="position: fixed; bottom: 16px; left: 0; width: 100%; display: flex; justify-content: center; z-index: 100;">
  <ion-button routerLink="/audio-spectrogram-upload" fill="clear" shape="round">
    <ion-icon name="analytics-outline"></ion-icon>
  </ion-button>
</div>
